<h1>Links</h1>

<ul>
  <% @links.each do |link| %>
    <li><%= "#{link.link} - #{link.vote} - #{link.date}" %> <%= link_to "Add Comment", new_comment_path, :class=> "btn btn-default btn-sm" %></li>
  <% end %>
</ul>

<%= link_to "New Link", new_link_path, :class=> "btn btn-success" %>
